body {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 900px;
    line-height: 1.5;
    padding: 4em 1em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

.axis .cell rect:hover {
    fill: lightgray;
}

table {
    border-collapse: separate;
    border-spacing: 20px 5px;
}

tbody tr:hover {
  color: steelblue;
}

.clicked {
  color: steelblue;
}

img {
  display: block;
}

#edge-crossing-table-vis {
  display: flex;
}

#axis-pair-vis {
  flex-grow: 1;
}